@font-face {
    font-family: 'SomerSans';
    src: url('../SomarSans/Fonts/Web/Condensed/SomarSans-RegularCondensed.woff2') format('woff2'),
         url('../SomarSans/Fonts/Web/Condensed/SomarSans-RegularCondensed.woff') format('woff');
    /* Add more file formats if needed */
    font-weight: normal;
    font-style: normal;
  }

.nav-text{
    font-family: 'SomerSans';
    font-weight: 800;
    line-height: 49.89px;
    font-size: 20px;
    font-style: italic;

}

.fadingLight{
  width: 0px;
  height: 0px;

  margin: 10px;

  margin-bottom: 120px;

  margin-left: 25px;
  margin-right: 100px;

  background-color: rgba(255, 255, 255, 0);
  
  
 
  border-radius: 10000px;



  box-shadow: 40px 20px 50px 20px rgb(216, 249, 255);
 
  


}

.appearenceAnimation{
  animation: slideAnimation 1.5s;
}
.fadingAnimation{
  animation: fadeAnimation2 1.5s;
}



@keyframes fadeAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideAnimation {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
  }

@keyframes fadeAnimation2 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideAnimation2 {
    from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }

.shadow-div{
animation: fadeAnimation 0.5s;
}

.side-bar{
    animation: slideAnimation 0.5s;
}

.hide-shadow{
    animation: fadeAnimation2 0.5s;
    }
    
.hide-bar{
    animation: slideAnimation2 0.5s;
    width: 0;
}

.bar {
    width: 100%;
}
