@font-face {
    font-family: 'SomerSans';
    src: url('../SomarSans/Fonts/Web/Condensed/SomarSans-RegularCondensed.woff2') format('woff2'),
         url('../SomarSans/Fonts/Web/Condensed/SomarSans-RegularCondensed.woff') format('woff');
    /* Add more file formats if needed */
    font-weight: normal;
    font-style: normal;
  }

a{
  cursor: pointer;
}

.pointer {
  cursor: pointer;
  position: relative;
 
 
}

.pointerDiv{
  

  background-color: white;
  width: 40px;
  height: 1px;
  position: absolute;
  z-index: 423432;

  animation-name: widthAnimation;
  animation-duration: 0.4s;
}

.p{
  background-color: white;

  height: 1px;
  position: absolute;
  z-index: 423432;

  
  animation-name: widthAnimationFade;
  animation-duration: 0.3s;
}




@keyframes widthAnimation {
  from{width: 0px;}

   to {width: 40px;}
}

@keyframes widthAnimationFade {
  from{width: 40px;}

  to {width: 0px;}
}


.upperShadow{
  width: 100%;

  background-color: rgb(0, 0, 0);

  box-shadow: -10px 0px 140px 80px black;
  position: absolute;

  z-index: 21342;

 
}

.nav{


  width: 100%;
  height: 130px;

  padding-left: 40px;



  justify-content: center;



  margin-bottom: -130px;


  padding-top: 40px;
  margin-top: -40px;

  background-color: rgba(235, 60, 60, 0);



  animation-name: fadeIAnimation;
  animation-duration: 0.5s;
}

.navBar{
  background-color: rgba(0, 0, 0, 0.462);
  position: fixed;

  padding-left: 33px;

  width: 100%;
  height: 130px;

  justify-content: center;



  padding-top: 40px;
  margin-top: -40px;

  animation-name: imageAnimation;
  animation-duration: 0.5s;
}

@keyframes imageAnimation {
  from{opacity: 0%;}

   to {opacity: 100%;}
}

@keyframes fadeIAnimation {
  from{background-color: rgba(0, 0, 0, 0.462);}

   to {opacity: rgba(0, 0, 0, 0);}
}




.nav-text{
    font-family: 'SomerSans';
    font-weight: 800;
    line-height: 49.89px;
    font-size: 16px;
    font-style: italic;

    z-index: 32423423423;

}

.fadingLight{
  width: 0px;
  height: 0px;

  margin: 10px;

  margin-bottom: 120px;

  margin-left: 25px;
  margin-right: 100px;

  background-color: rgba(255, 255, 255, 0);
  
  
 
  border-radius: 10000px;



  box-shadow: 40px 20px 50px 20px rgb(216, 249, 255);
 
  


}

.fadingLightSmallScreen{
  width: 0px;
  height: 0px;

  margin-top: -110px;
  margin-left: 50px;


  background-color: rgba(54, 8, 8, 0);
  
  
 
  border-radius: 10000px;



  box-shadow: 40px 20px 50px 20px rgb(216, 249, 255);
 
  


}


.appearenceAnimation{
  animation: slideAnimation 1.5s;
}
.fadingAnimation{
  animation: fadeAnimation2 1.5s;
}



@keyframes fadeAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideAnimation {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
  }

@keyframes fadeAnimation2 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideAnimation2 {
    from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }

.shadow-div{
animation: fadeAnimation 0.5s;
}

.side-bar{
    animation: slideAnimation 0.5s;
}

.hide-shadow{
    animation: fadeAnimation2 0.5s;
    }
    
.hide-bar{
    animation: slideAnimation2 0.5s;
    
}

.bar {
    width: 100%;
}


.myButton{
  margin-bottom: 100px;
  margin-top: -14px;
  margin-right: 1200px;
  z-index: 2433215435435543;
  position: relative;

  background-color: rgba(89, 141, 187, 0);
  position: block;

}


.innerButton{

  background-color: rgba(240, 248, 255, 0);
  border: 2px solid white;
  z-index: 24332143;


  padding: 0 10px 1px 10px;
  position: relative;
  color: white;

  font-size: 14px;
}
