@font-face {
    font-family: 'SomerSans';
    src: url('../SomarSans/Fonts/Web/Condensed/SomarSans-RegularCondensed.woff2') format('woff2'),
         url('../SomarSans/Fonts/Web/Condensed/SomarSans-RegularCondensed.woff') format('woff');
    /* Add more file formats if needed */
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'LightSomerSans';
    src: url('../SomarSans/Fonts/Web/Standard/SomarSans-Regular.woff2') format('woff2'),
         url('../SomarSans/Fonts/Web/Standard/SomarSans-Regular.woff') format('woff');
    /* Add more file formats if needed */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'RegularSomerSans';
    src: url('../SomarSans/Fonts/Web/Expanded/SomarSans-SemiBoldExpanded.woff2') format('woff2'),
         url('../SomarSans/Fonts/Web/Expanded/SomarSans-SemiBoldExpanded.woff') format('woff');
    /* Add more file formats if needed */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'veryRegularSomerSans';
    src: url('../SomarSans/Fonts/Web/Standard/SomarSans-Light.woff2') format('woff2'),
         url('../SomarSans/Fonts/Web/Standard/SomarSans-Light.woff2') format('woff');
    /* Add more file formats if needed */
    font-weight: normal;
    font-style: normal;
  }





h1{
    font-family: "SomerSans";
    font-weight: 800;
    font-size: 50px;
    font-style: italic;

}

h2{
    font-family: "LightSomerSans";
    font-weight: 800;
    font-size: 34px;

}

h3{
    font-family: "SomerSans";
    font-weight: 800;
    font-size: 30px;
    font-style: italic;
}

.left-blue-color{
    height: 836px;
    width: 30%;
    background: linear-gradient(270deg, rgba(44, 178, 240, 0) 0%, #31a3faa9 400%);

    top: 0;

    z-index: 10;

    margin-top: -250px;

}

.right-blue-color{
    height: 836px;
    width: 30%;
    background: linear-gradient(90deg, rgba(44, 178, 240, 0) 0%, #32a6ff97 400%);
    

    top: 0;

    z-index: 10;

    margin-top: -250px;

    right: 0;

}


.indicator {
    cursor: pointer;
    padding: 5px;
    text-align: center;
    border: 2px #ffffff solid;
    margin: 5px;

    margin-top: -100px;
    margin-bottom: 100px;
    position: relative;



    border-radius: 1000px;
  }
  
  .indicator.active {
    background: #ffffff;
  }


  .fade-up {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }

  /* Add styles for the visible state of the element */
  .fade-up.visible {
    opacity: 1;
    transform: translateY(0);
  }

.prev-circleArrow{

    border-radius: 1000px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;

    width: 50px;
    height: 50px;

}

.next-circleArrow{
    border-radius: 1000px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;

    width: 50px;
   height: 50px;
}

.prev-circleArrowTwo{

  background-color: rgba(0, 0, 0, 0);


  width: 50px;
  height: 50px;

  

}

.next-circleArrowTwo{

  background-color: rgba(0, 0, 0, 0);


  width: 50px;
 height: 50px;
}

.myMainImage-img0{
  animation-name: imageAnimation;
    animation-duration: 0.5s;

    object-fit: cover;

   
    
 
}

.myMainImage-img1{
  animation-name: imageAnimation1;
    animation-duration: 0.5s;

    object-fit: cover;
}



@keyframes imageAnimation {
  from{opacity: 0%;}

   to {opacity: 100%;}
}

@keyframes imageAnimation1 {
  from{opacity: 0%;}

   to {opacity: 100%;}
}



@keyframes imageFading {
  from{opacity: 100%;}

   to {opacity: 0%;}
}

@keyframes imageFading1 {
  from{opacity: 100%;}

   to {opacity: 0%;}
}

@keyframes imageFading2 {
  from{opacity: 100%;}

   to {opacity: 0%;}
}

.miniOption-div{
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);


  border-radius: 100px;
  
  animation-name: buttonAnimation;
  animation-duration: 0.2s;

  margin: 4px;

}

@keyframes buttonAnimation {
  from {background-color: rgba(249, 187, 0, 0);}

  to {background-color: rgb(255, 255, 255);}
}

.myOurWorkButton-btn:hover{


  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);


  animation-name: buttonAnimation;
  animation-duration: 0.2s;
}

@keyframes buttonAnimationReverse {
  from {background-color: rgb(255, 255, 255);}

  to {background-color: rgba(249, 187, 0, 0);}
}

.mainMiniDiv-div{
  display: flex;
  
  justify-content: center;

  

 


  
  position: relative;

}




.miniOption0-div{
  width: 15px;
  height: 15px;
  background-color: rgba(212, 212, 212, 0);
  margin: 2px;


  border-radius: 100px;

  border: 2px solid white;
  
  animation-name: buttonAnimation;
  animation-duration: 0.2s;



}
.miniOption1-div{
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  margin: 2px;

  border-radius: 100px;

  animation-name: buttonAnimationReverse;

  animation-duration: 0.000001s;
}

.mainMiniDiv-div{
  display: flex;
  justify-content: center;

  

  margin-top: -250px;
  margin-bottom: 200px;
  position: relative;

}



.slick-active  {
  background-color: #ffffff; /* Change the background color of the active dot */
  position: fixed;


}

.slick-list {
  margin-bottom: -200px;
  position: absolute;
}

/* Style for inactive dots */
.slick-dots li {
  margin: 0 5px; /* Adjust the spacing between dots */

  
  border: 2px solid white;
  border-radius: 1000px;


}


/* Style for active dot */
.your-slider .slick-dots button {
  margin: 100px 0px; /* Adjust the spacing between dots */
}


.your-slider button.slick-dots li button {
  width: 10px; /* Adjust the width of each dot */
  height: 10px; /* Adjust the height of each dot */
  border-radius: 50%; /* Make dots circular */
  background-color: #B8B8B8; /* Set the background color of inactive dots */
  border: none; /* Remove border around dots */

  margin: 213px 5px; /* Adjust the spacing between dots */
}
.your-slider button.slick-dots {
  margin: 213px 5px; /* Adjust the spacing between dots */
  position: relative;
}

.slick-dots li button {
  width: 10px; /* Adjust the width of each dot */
  height: 10px; /* Adjust the height of each dot */
  border-radius: 50%; /* Make dots circular */
  background-color: #ffffff; /* Set the background color of inactive dots */

  
  z-index: 432423243;

  

}

.arabicWhiteTiger{
  text-align: end;
  font-family: "RegularSomerSans";
}

.englishWhiteTiger{
  text-align: start;
  font-family: "RegularSomerSans";
}

.arabicRegistration{
  text-align: end;
  font-family: "RegularSomerSans";

  font-size: 40px;
  font-weight: 800px;

}

.englishRegistration{
  text-align: start;
  font-family: "RegularSomerSans";

  font-size: 30px;
  font-weight: 800px;

  

}

.arabicParagraph{
  text-align: start;
  direction: rtl;

  width: 500px;

  color: #989898;
  font-family: "LightSomerSans";
}

.englishParagraph{
  text-align: start;
  width: 500px;

  color: #989898;
  font-family: "LightSomerSans";

  
}

.arabicButton{

  z-index: 3213;

  margin-right: -10px;
  margin-top: 13px;

  right: 0;

  font-size: 20px;

  font-family: "veryRegularSomerSans";

  margin-bottom: 50px;
}

.englishButton{
  margin-right: -10px;
  margin-top: 13px;

  font-size: 20px;

  font-family: "veryRegularSomerSans";

  

  margin-bottom: 50px;
}

.brownSquare{
  background-color: #5b5b5b90; 
  width: 700px;
  height: 400px;
  position: relative;
}


@media screen and (max-width: 800px) {
 .brownSquare{
  width: 97%;
  height: fit-content;
 }

 .arabicParagraph{
  text-align: start;
  direction: rtl;

  width: 80%;

  color: #989898;
  font-family: "LightSomerSans";
}

.englishParagraph{
  text-align: start;
  width: 80%;

  color: #989898;
  font-family: "LightSomerSans";

  
}
}


.circle-container {


  width: 20px;
  height: 20px;




 
}
