.App {
  text-align: center;
}

.App {
  text-align: center;
}

.myButton{
  margin-bottom: 100px;
  margin-top: -148px;
  margin-right: 1200px;
  z-index: 2433215435435543;
  position: relative;

  background-color: rgba(89, 141, 187, 0);


}

.innerButton{

  background-color: rgba(240, 248, 255, 0);
  border: 2px solid white;
  z-index: 24332143;

  padding: -20px;

  padding: 0 10px 2px 10px;

  color: white;
}
